
		<style type="text/css">
		.searchTable { background-color:#FFFFE0;border-collapse:collapse; }
		.searchTable th { background-color:#217B3E;color:white; }
		.searchTable td, .searchTable th { padding:5px;border:1px solid #217B3E; }
		</style>	